.docker {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    height: .49rem;
    display: flex;
    border-top: .01rem solid #F5F9FA;
    padding-bottom: .05rem;
    font-size: .12rem;
    color: #B3C1C4;
    background-color: #FFF;
    text-align: center;
    &-item {
      flex: 1;
      &-icon {
        margin: .1rem 0 .04rem 0;
        font-size: .18rem;
      }
    }
    &-item-active {
      color: #73D13D;
    }
  }