@mixin line-clamp($lines) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $lines;
    overflow: hidden;
  }
  
.details-page {
    overflow-y: scroll;
    background: #F5F9FA;
    padding-bottom: .78rem;
    .title {
        position: relative;
        line-height: .44rem;
        font-size: .18rem;
        color: #242424;
        background: #FFF;
        text-align: center;
        .search-back {
            position: absolute;
            left: 0.1rem;
            top: 0.12rem;
        }
    }
    .image {
        display: block;
        width: 100vw;
        height: 100vw;
    }   
    .main {
        margin: .17rem .1rem 0 .1rem;
        position: relative;
        padding-top: .74rem;
        font-size: .18rem;
        background: #52C41A;
        border-radius: .15rem;
        &-price {
            position: absolute;
            color: #FFF; 
            font-size: .22rem;
            top: .18rem;
            left: .08rem;
            font-weight: bold;
            &-dollar {
                font-size: .14rem;
                margin-right: .02rem;
            }
        }

        &-sales {
            position: absolute;
            color: #FFF; 
            font-size: .18rem;
            top: .2rem;
            right: .1rem;
        }

        &-content {
            padding: .15rem .1rem .1rem .1rem;
            background: #FFF;
            border-radius: .15rem;
            margin-top: -.15rem;
            &-title {
                color: #242424;
                font-size: .2rem;
                line-height: .24rem;
            }
            &-subtitle {
                margin-top: .04rem;
                color: #C9CDD4;
                font-size: .14rem;
                line-height: .2rem;
            }
        }
    }

    .spec {
        margin: .1rem .08rem 0 .08rem;
        border-radius: .15rem;
        background: #FFF;
        &-title {
            margin-left: .1rem;
            color: #242424;
            font-size: .16rem;
            line-height: .4rem;
            font-weight: bold;
        }
        &-content {
            display: flex;
            margin: 0 .12rem .12rem .12rem;
            padding-bottom: .12rem;
            &-left {
                padding: .05rem .05rem;
                width: .62rem;
                background-color: #F2F3F5;
                text-align: center;
                border: .01rem solid #D7D7D7;
                border-radius: .05rem 0 0 .05rem;
            }
            &-right {
                position: relative;
                padding-left: .1rem;
                flex: 1;
                border-top: .01rem solid #D7D7D7;
                border-right: .01rem solid #D7D7D7;
                border-bottom: .01rem solid #D7D7D7;
                border-radius: 0 .05rem .05rem 0;
            }
            &-item {
                color: #242424;
                font-size: .14rem;
                line-height: .2rem;
            }
            &-item1 {
                position: absolute;
                top: .12rem
            }
            &-item2 {
                position: absolute;
                bottom: .05rem;
            }
        }
    }

    .details {
        margin: .1rem .08rem 0 .08rem;
        border-radius: .15rem;
        background: #FFF;
        &-title {
            margin-left: .1rem;
            color: #242424;
            font-size: .16rem;
            line-height: .4rem;
            font-weight: bold;
        }
        &-content {
            padding: .13rem;
            color: #242424;
            font-size: .16rem;
            line-height: .2rem;
            
        }
    }
    
    .docker {
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: .64rem;
        background: #FFF;
        border-top:  .01rem solid #F5F9FA;
        &-cart {
            width: 1.2rem;
            text-align: center;
            font-size: .14rem;
            .iconfont {
                position: relative;
                margin-top: .1rem;
                font-size: .22rem;
            }
            .icon-count {
                position: absolute;
                top: -.04rem;
                right: -.1rem;
                line-height: .16rem;
                padding-bottom: .02rem;
                text-align: center;
                width: .2rem;
                background: #73D13D;
                font-size: .12rem;
                color: #FFF;
                border-radius: .1rem;
            }
        
        }
        .cart-button {
            flex: 1;
            margin-top: .1rem;
            margin-right: .16rem;
            height: .44rem;
            line-height: .44rem;
            font-size: .16rem;
            background-color: #73D13D;
            border-radius: .22rem;
            text-align: center;
            color: #FFF;
        }
    }

    .cart {
        &-content {
            padding: .2rem .2rem .34rem .2rem;
            display: flex;
            border-bottom: .01rem solid #F4F4F4;
            &-image {
                margin-right: .48rem;
                display: block;
                width: .7rem;
                height: .7rem;
            }
            &-info {
                font-size: .12rem;
            }
            &-title {
                margin-right: .45rem;
                color: #242424;
                line-height: .18rem;
                @include line-clamp(2);
                text-overflow: ellipsis;
                white-space: normal;
                word-break: break-all;
            }
            &-price {
                margin-top: .1rem;
                color: #F81C00; 
                font-size: .15rem;
                &-dollar {
                    font-size: .12rem;
                    margin-right: .02rem;
                }
            }
        } 
        &-count {
            padding: .2rem .1em;
            
            &-content {
                height: .28rem;
                line-height: .28rem;
                color: #242424;
                font-size: .14rem;
            }
            &-counter {
                float: right;
                font-size: 0;
            }
            &-button, &-text {
                display: inline-block;
                font-size: .18rem;
                line-height: .28rem;
                text-align: center;
                background: #F4F4F4;
            }
            &-button {
                width: .28rem;
            }
            &-text {
                margin: 0 .1rem;
                padding: 0 .08rem;
            }
        }
        &-button {
            line-height: .44rem;
            margin: .1rem .16rem;
            border-radius: .22rem;
            background: #73D13D;
            font-size: .16rem;
            color: #FFF;
            text-align: center;
        }
    }
}